.month {
  height: 100%;
  display: grid;
  grid-template-rows: 5% auto;
  padding: 1rem;
}

.month .heading {
  text-align: center;
  align-self: center;
  font-family: "Great Vibes", cursive;
  font-size: 42px;
  color: #ab1111;
  font-weight: 600;
}

.month .days {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
}

@media screen and (max-width: 950px) {
  .month .days {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .month .days {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .month .days {
    grid-template-columns: 1fr;
  }
}
